html, body{
    overflow-x: hidden;
    overflow-y: scroll;

}

.container{
    height: 1024px;
    width: 768px;
    background-image:url('../images/background.jpg');
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
}


#menu{
    display: none;
    border: 1px solid blue;
}


#logo{
    background-image: url("../images/gameslogo.png");
    background-repeat: no-repeat;
    height: 100%;
    left: 32%;
    position: absolute;
    top: 25%;
    width: 33%;
    display: none;

}


#heading{
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 23%;
    width: 50%;
    text-align: center;
}

#start_game{
    color: #FFFFFF;
    position: absolute;
    top: 32%;
    left: 32%;
    width: 30%;
    text-align: center;
    font-size: 32px;
    font-family: arial;
}

#tutorial{
    color:#d1d1d1;
    position: absolute;
    top: 43%;
    left: 32%;
    width: 30%;
    text-align: center;
    font-family: arial;
    font-size: 27px;
}

#reset_bot{
    color:#d1d1d1;
    position: absolute;
    top: 49%;
    left: 32%;
    width: 30%;
    text-align: center;
    font-family: arial;
    font-size: 32px;

}

#menu_logo{
    background-image: url("../images/LoadingTransparent.gif");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    height: 11%;
    left: 40%;
    position: absolute;
    top: 65%;
    width: 15%;
    text-align: center;
}


.block, #attack_mode, #defend_mode{
    display: none;
}


.playing_area {
    position: absolute;
    height: auto;
    width: 690px;
    left: 0;
    top: 20%;
    /*border: 1px solid #FF0000;*/
    padding: 5%;
}

.playing_box {
    height: 280px;
    width: 280px;
    margin: 2px;
    background-color: #525252;
}


#defend_mode .playing_box{
    background: white;
}

#attack_mode_top_left_block{
    float: left;
    left:0;
    top:0;
    margin-left: 10%;
}

#attack_mode_top_right_block{
    /*display: none;*/
    float: left;
    left: 40%;
    top:0;
}

#attack_mode_bottom_left_block{
    /*display: none;*/
    float: left;
    left:0;
    top:40%;
    margin-left: 10%;
}

#attack_mode_bottom_right_block{
    /*display: none;*/
    float: left;
    left:40%;
    top:40%;
}

#defend_mode_top_left_block{
    float: left;
    left:0;
    top:0;
    margin-left: 10%;
}

#defend_mode_top_right_block{
    /*display: none;*/
    float: left;
    left: 40%;
    top:0;
}

#defend_mode_bottom_left_block{
    /*display: none;*/
    float: left;
    left:0;
    top:40%;
    margin-left: 10%;
}

#defend_mode_bottom_right_block{
    /*display: none;*/
    float: left;
    left:40%;
    top:40%;
}


#attack_mode_header, #defend_mode_header {
   margin-left: 30%;
}

.black_text{
   font-size: 42px;
    font-family: arial;
    color:#000000;
    font-weight: bold;
}

.and_text
{
   color:grey;
   font-size: 35px;
    font-family: arial;
}

.fight_text{
     font-size: 40px;
     font-family: arial;
     color:white;
    font-weight: bold;
}

#attack_mode_instruction
{
   height:100px;
    width:150px;
    background-color: black;
    float: left;
    margin-left: 15%;
}

#defend_mode_instruction
{
    /*margin-left: 15%;*/
    background-color: white;
    color: #000000;
    float: left;
    height:100px;
    width:150px;
}

#defend_mode_description{
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    height: 100px;
    margin-left: 15%;
    width: 400px;
    text-align: center;
}

#defend_mode_name {
    text-align: center;
    font-size: 25px;
    color:#000000;
    margin-top: 15px;
    font-family: arial;
}

#attack_mode_name{
    text-align: center;
    font-size: 28px;
    color:white;
    margin-top: 25px;
    font-family: arial;
}

.mode_text {
    text-align: center;
    font-size: 15px;
    font-family: arial;
    color: #ffffff;
    margin-top: 5px;
}

#attack_mode_description{
    height:100px;
    width:400px;
    background-color: white;
    float:left;
    text-align: center;
}

#attack_mode_description p, #defend_mode_description p{
    padding: 3px;
    font-family: arial;
    font-size: 12px;
    margin-top: 5px;
}



#game_over_heading{
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 32%;
    width: 30%;
    text-align: center;
}

#status{
    color: #FFFFFF;
    position: absolute;
    top: 35%;
    left: 17%;
    width: 60%;
    text-align: center;

}

#result_status{
    color: #FFFFFF;
    position: absolute;
    top: 39%;
    left: 32%;
    width: 80%;
    text-align: center;

}

#defend_timing{
    height: 200px;
    width: 200px;
    color: black;
    font-size: 2em;
}

#attack_mode_status, #defend_mode_status{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    font-size: 2em;
    height: 44px;
    left: 260px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 250px;
    display: none;
}

#defend_mode_status{
    color:white;
    background: #000000;
}

